
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tiny5&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

.titulo{
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
      
  header{

        background-color: rgb(192, 10, 10);/*cor do fundo*/
        color: white;/*cor do texto*/
        padding: 20px;/*espaçamento interno*/
        text-align:center;
        font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

  footer{
        
    background-color: rgb(218, 8, 26);/*cor do fundo*/
    color: white;/*cor do texto*/
    padding: 20px;/*espaçamento interno*/
    text-align:center;
    position:relative;/*posiciona o rodapé*/
    bottom: 0%;/*fica na parte inferior*/
    width: 100%;/*ocupa toda a largura*/
}

  body{
    background-color: white;
  }
      
.texto{
  color:black;
  font-size: large;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  border: 3px solid #333;
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  margin: 20px 10px 20px 10px; /*Margem no formato topo direita,baixo, esquerda,*/

  /*margin-top: 20px;   apenas no topo                 exemplo de cada local da margem
  margin-right: 10px;   apenas à direita
  margin-bottom: 20px;  apenas na parte inferior       
  margin-left: 10px;    apenas à esquerda  */ 

 
}

.moldura{
  border: 3px solid #333;
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.imagem{
  text-align: center;
}
.tituloparagrafo{
 
  color: rgb(245, 17, 47);
  font-size: large;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  text-align: center;
 
}

.margem{
 margin: 20px 10px 20px 10px; /*Margem no formato topo direita,baixo, esquerda,*/

  /*margin-top: 20px;   apenas no topo                 exemplo de cada local da margem
  margin-right: 10px;   apenas à direita
  margin-bottom: 20px;  apenas na parte inferior       
  margin-left: 10px;    apenas à esquerda  */ 

}

.margem2{
  margin: 20px 10px 20px 10px; /*Margem no formato topo direita,baixo, esquerda,*/

  /*margin-top: 20px;   apenas no topo                 exemplo de cada local da margem
  margin-right: 10px;   apenas à direita
  margin-bottom: 20px;  apenas na parte inferior       
  margin-left: 10px;    apenas à esquerda  */ 

}

.imagem2{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.subtitulo{
  
  color: rgb(245, 17, 47);
  font-size: large;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  text-align: center;
 
}